.block
  %h2 Twój serwis
  %p
    %b Typ:
    = @social_account.type_name
  %p
    %b Nazwa:
    = @social_account.name
  = link_to 'Anuluj', social_accounts_path, :class => "button"
  = link_to "Podgląd", "#", :class => "button"
  = link_to "Usuń", @social_account, :method => :delete, :class => "button"

- content_for :sidebar do
  = render :partial => "dashboard/sidebar"
