
%ul.tabs
  = sidebar_tab "Kokpit", dashboard_path, :dashboard
  = sidebar_tab "Twoje serwisy", social_accounts_path, :accounts
  = sidebar_tab "Statystyki", dashboard_path, :stats
  = sidebar_tab "Płatności", dashboard_path, :payments
  = sidebar_tab "Kompedium", dashboard_path, :compedium
.block
  %h3 Twoje serwisy
  %ul.navigation.features
    - self.current_user.social_accounts.all.each do |account|
      %li{ :class => cycle("alt", "normal") }
        = link_to "Usuń serwis", account, :class => "edit_feature"
        %span{ :class => account.type_name }= account.name
        .description= account.type_name.to_s.classify

