
%ul.tabs
  = sidebar_tab "Kokpit", dashboard_path, :new
  = sidebar_tab "Twoje serwisy", social_accounts_path, :new
  = sidebar_tab "Statystyki", dashboard_path, :new
  = sidebar_tab "Płatności", dashboard_path, :new
.block
  %h3 Twoje serwisy
  %ul.navigation.accounts
    - self.current_user.social_accounts.all.each do |account|
      %li{ :class => cycle("alt", "normal") }
        = link_to account.name, account, :class => account.type_name
        .clear