%h2 Wrzuć
%ul.actions
  %li
    = link_to new_update_path do
      = image_tag "post.png"
      %br/
      Wpis
  %li
    = link_to new_update_path do
      = image_tag "photos.png"
      %br/
      Zdjęcia
  %li
    = link_to new_update_path do
      = image_tag "movie.png"
      %br/
      Wideo
  %li
    = link_to new_update_path do
      = image_tag "event.png"
      %br/
      Wydarzenie
  %li
    = link_to new_update_path do
      = image_tag "news.png"
      %br/
      Aktualność
  %li
    = link_to new_update_path do
      = image_tag "mp3.png"
      %br/
      Piosenke
.clear

%ul.list
  - @updates.each do |update|
    %li.update{ :class => cycle("normal", "alt") }
      %h4
        .date
          Dodane:
          = l(update.publish_at, :format => :long) if update.publish_at
        = link_to update.title, update
      .body= truncate(strip_tags(update.body), :length => 382)
      .tags= update.tags.split(",").map { |tag| "#"+tag.strip }.join(", ")
      %ul.views
        %li= link_to "Linki", "#", :class => "selected links"
        %li= link_to "Reakcje", "#", :class => "reactions"
        %li= link_to "Statystyki", "#", :class => "stats"
      .clear
    %li
      %ul.links
        - update.links.each do |link|
          %li{ :class => link.social_account.type_name }
            Oczekuje na dodanie do
            = link_to link.social_account.name, link.social_account

- content_for :sidebar do
  = render :partial => "dashboard/sidebar"