%ul
  %li.status= link_to "Wpis", "#"
  %li.photo= link_to "Zdjęcia",  "#"
  %li.video= link_to "Wideo",  "#"
  %li.event= link_to "Wydarzenie", "#"
  %li.news= link_to "Aktualność",  "#"
  %li.song= link_to "Piosenke",  "#"
      
  %li.icon.settings
    = link_to "Ustawienia", "#", :class => "dropdown"
    .dropdown_menu
      = link_to "Twoje serwisy", "#!/accounts", :class => "accounts"
      = link_to "Płatności", dashboard_path, :class => "payments"
      = link_to "Kompedium", dashboard_path, :class => "compedium"
      = link_to "Wyloguj się", logout_path, :class => "logout"
  %li.icon.notifications
    = link_to "Powiadomienia", "#", :class => "dropdown"
    .dropdown_menu.notifications
      .list
        %p.empty Brak powiadomień
      .bar
        %input#notification_permission{ :type => "checkbox" } Powiadomienia na pulpicie
