%ul
  %li.status= link_to "Wpis", "#"
  %li.photo= link_to "Zdjęcia", new_update_path
  %li.video= link_to "Wideo", new_update_path
  %li.event= link_to "Wydarzenie", "#"
  %li.news= link_to "Aktualność", new_update_path
  %li.song= link_to "Piosenke", new_update_path
      
  %li.icon.settings
    = link_to "Ustawienia", "#"
  %li.icon.notifications
    = link_to "Powiadomienia", logout_path
