.field
  = f.label :title, "Status:"
  %br/
  = f.text_area :title
.field
  = f.label :tags, "Tagi:"
  = f.text_field :tags


.hidden#url_box
  .field
    = f.label :url, "Link:"
    = f.text_field :url
  .field
    = f.label :body, "Opis:"
    = f.text_area :body

.actions
  = f.submit 'Publikuj'
  = link_to "Anuluj", root_path, :class => "button"
  = link_to "Dodaj link", "#url_box", :class => "button toggle"
