.field
  = f.label :title
  = f.text_field :title
.field
  = f.label :body
  = f.text_area :body
.field
  = f.label :url
  = f.text_field :url
.field
  = f.label :tags
  = f.text_field :tags
.field
  = f.label :publish_at
  = f.datetime_select :publish_at
.actions
  = f.submit 'Save'
