!!! 5
%html
  %head
    %title TZ
    %meta{ :name => "rhCoreRoot", :content => RhCore::Config["site"] }/
    - if self.access_token
      %meta{ :name => "rhCoreAccessToken", :content => self.access_token.token }/
    - if logged_in?
      %meta{ :name => "auth_token", :content => self.current_user.api_token }/
      %meta{ :name => "notifications_server", :content => RhCore::Config["faye_server"] }/

    = csrf_meta_tag
    = include_stylesheets :app, :media => 'all'
    = include_javascripts :lib
    = include_javascripts :app
    = javascript_include_tag RhCore::Config["faye_server"]+".js"
    = #javascript_include_tag File.join([RhCore::Config["site"], "javascripts", "rhcore.js"])

  %body
    .menu
      .wrapper
        = link_to "Logo", "#!/", :class => "logo"
        = render "shared/menu"
    .wrapper
      .clear
      - if flash[:notice]
        .box.notice= notice
      .clear
      .content= yield

