!!! 5
%html
  %head
    %title TZ
    %meta{ :name => "rhCoreRoot", :content => RhCore::Config["site"] }/
    - if self.access_token
      %meta{ :name => "rhCoreAccessToken", :content => self.access_token.token }/
    - if logged_in?
      %meta{ :name => "auth_token", :content => self.current_user.api_token }/
      %meta{ :name => "notifications_server", :content => RhCore::Config["faye_server"] }/

    = csrf_meta_tag
    = include_stylesheets :app, :media => 'all'
    = include_javascripts :app
    = javascript_include_tag RhCore::Config["faye_server"]+".js"
    = javascript_include_tag File.join([RhCore::Config["site"], "javascripts", "rhcore.js"])

  %body
    %ul.panel
      %li= link_to "Powiadomienia", "#"
    .top_bg
      .wrapper
        = link_to "Logo", root_path, :class => "logo"
        .clear
        - if flash[:notice]
          .box.notice= notice
        .clear
        - unless yield(:sidebar).empty?
          .content= yield
          .sidebar= yield :sidebar
        - else
          .content.full= yield
        .clear
    .footer= "TZ 2010/#{Date.current.year} dla rhmusic.pl, Arkadiusz Buras"

